services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5436:5432"
    env_file:
      - .env.deploy
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true
    volumes:
      - postgres-site-constructor-data:/var/lib/postgresql/data
    networks:
      - custom_net

  redis:
    image: redis:8.2
    container_name: redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    env_file:
      - .env.deploy
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --appendonly yes
      --appendfilename "appendonly.aof"
      --dir /data
      --save 900 1
      --save 300 10
      --save 60 10000
      --maxmemory 512mb
      --maxmemory-policy allkeys-lru
      --notify-keyspace-events Ex
    volumes:
      - redis-site-constructor-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - custom_net

  app:
    build: .
    container_name: go-app
    ports:
      - "8080:8080"
    env_file:
      - .env.deploy
    depends_on:
      - postgres
      - redis
    networks:
      - custom_net

volumes:
  postgres-site-constructor-data:
  redis-site-constructor-data:

networks:
  custom_net:
    driver: bridge
